/* Inria serif */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Paprika */
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    @apply text-dark_primary;
  }
  h1 {
    @apply font-Poppins lg:text-6xl text-3xl font-extrabold;
  }
  h2 {
    @apply font-Inria text-5xl font-bold;
  }
  h3 {
    @apply font-Paprika text-5xl;
  }
  a{
    @apply font-Paprika lg:text-2xl text-3xl font-bold;
  }
  h4 {
    @apply md:text-4xl text-3xl !leading-relaxed font-Paprika;
  }
  h6 {
    @apply font-Paprika font-bold text-[#061012] leading-8;
  }

  p {
    @apply font-Poppins text-[0.95rem];
  }
  button {
    font-size: 18px;
    background-color: #008542;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  }
  
  button:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
    z-index: -1;
    background-color: #008542 !important;
    box-shadow: 0 -4px rgb(21 108 0 / 50%) inset,
      0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset,
      4px 0 rgb(21 108 0 / 50%) inset;
  }
  
  button:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  }
  
  button:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
      -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
  }
  
  button:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  }
  
  button:active {
    transform: translateY(4px);
  }
  
  button:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
  }
  input,
  textarea {
    @apply bg-transparent outline-none font-Poppins;
  }
}

@layer utilities {
  .btn {
    @apply py-2 px-9 border-2 rounded-md
     border-dark_primary rounded-br-3xl font-medium;
  }
  .title {
    @apply md:text-3xl text-2xl;
  }
  .subtitle {
    @apply text-white;
  }
  .subtitle1 {
    @apply text-black;
  }
}
.swiper-pagination-bullet {
  @apply w-3 h-3 bg-dark_primary;
}


